.questions {
  @apply h-full flex flex-col justify-between items-center;

  > .back {
    @apply absolute top-6 left-6 text-4xl fill-hover;
  }

  > .counter {
    @apply font-bold ml-4 text-gray-300 mt-8 self-center md:text-xl;
  }

  > h2 {
    @apply px-2 text-white w-full sm:max-w-xl sm:text-4xl md:max-w-2xl md:text-5xl md:leading-tight xl:max-w-3xl;
  }

  > .buttons {
    @apply flex w-full mb-8 gap-4 justify-between sm:justify-center sm:gap-20;

    > button {
      @apply btn text-5xl rounded-full p-6;
    }
  }
}
