.infoButton {
  @apply btn-shadow absolute left-6 top-8 w-10 h-10 text-gray-400 z-20 focus:outline-none;
  transition-property: left, top, width, height, border-radius, box-shadow;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  > svg {
    @apply left-3 top-3 absolute opacity-100;
    transition-duration: 0.8s;
    transition-property: opacity, left, top;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.infoButtonActive {
  @apply w-full h-full top-0 left-0 rounded-none shadow-none;
  > svg {
    @apply -top-9 left-9 opacity-0;
  }
}

.start {
  @apply h-full flex flex-col items-center justify-between sm:justify-center sm:gap-16 py-12;

  .infoWrapper {
    @apply fixed w-full h-full top-0 left-0 z-30 flex-center gap-4 sm:gap-8;
  }

  > .toggle {
    @apply absolute top-[2.125rem] right-6 z-10;
  }

  h2 {
    @apply font-extrabold text-5xl leading-[1.1] sm:text-8xl sm:leading-tight;
  }
  > .startBtn {
    @apply flex-center uppercase font-semibold text-3xl rounded-full px-5 py-3 sm:px-12 sm:py-5 sm:text-4xl;
  }
}
