.layout {
  @apply flex justify-center;

  > .layoutWrapper {
    @apply relative w-full px-5 select-none bg-cover bg-no-repeat bg-[88%];
    transition: all ease-in-out 60ms;
  }

  > .bgDark {
    background-image: url('../../assets/imgs/bgImgBlack.svg');
  }
  > .bgWhite {
    background-image: url('../../assets/imgs/bgImgWhite.svg');
  }
}
