.layout {
  @apply flex justify-center;

  > .layoutWrapper {
    @apply relative w-full px-5 select-none bg-cover bg-no-repeat bg-[88%];
    transition: background-image ease-in-out 50ms;
    @media screen and (max-width: 430px) {
      transition-property: none;
    }
  }

  > .bgDark {
    background-image: url('../../assets/imgs/bgImgBlack.svg');
  }
  > .bgWhite {
    background-image: url('../../assets/imgs/bgImgWhite.svg');
  }
}
